
<div class="container mt-md-5">
    <div class="row no-gutters">
        <div class="col-sm-6" >
            <input type="text" class="form-control" placeholder="Search By Status " [(ngModel)]="searchStatus">
        </div>
        <div class="col-sm-2 ml-lg-5">
            <!-- Button trigger modal -->
            <button type="button" class="btn btn-primary " data-toggle="modal" data-target="#exampleModal">
                Add New Task
            </button>

            <!-- Modal -->
            <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel"
                aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <!-- Form For New Task Add -->
                            <form [formGroup]="addTask" >
                                <div class="form-group">
                                  <label for="exampleInputEmail1">Title</label>
                                  <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" formControlName="taskTitle">
                                </div>
                                <div class="form-group">
                                  <label for="exampleInputPassword1">Due Date</label>
                                  <input type="date" class="form-control" id="exampleInputPassword1" formControlName="duedate">
                                </div>
                                
                              </form>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            <button type="button" class="btn btn-primary" (click)="addTaskToList()">Create Task</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-12">
            <!-- Table For Show All Task -->
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">Sr/no</th>
                        <th scope="col">Title</th>
                        <th scope="col">Due Date</th>
                        <th scope="col">Status</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let task of dataSource | filter: searchStatus; let i=index ">
                        <th scope="row">{{i+1}}</th>
                        <td>{{task.taskTitle}}</td>
                        <td>{{task.duedate}}</td>
                        <td>{{task.status }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>